.LandingLayout {
  padding-bottom: 0;
}

.LandingLayout .Footer {
  margin-top: 0;
}

.LandingLayout__Main {
  margin-top: -64px;
}

.LandingLayout__Main__Content {
  height: 100%;
}

.HomeLayout .Navbar {
  box-shadow: 0px 2px 4px -1px rgba(230, 200, 180, 0.4),
    0px 4px 5px 0px rgba(230, 200, 180, 0.34),
    0px 1px 10px 0px rgba(230, 200, 180, 0.32);
}

.HomeLayout:not(.HomeLayout--scroll) .Navbar {
  background: transparent;
  box-shadow: none;
}

.HomeLayout:not(.HomeLayout--scroll) .Navbar .Navbar__Menu__List__Item a {
  border-color: transparent;
}

.HomeLayout--scroll .Navbar {
  border-bottom: 1px solid #e6c8b8;
}

.HomeLayout .HomeSection {
  position: relative;
}

.HomeLayout .HomeSectionStartLayer {
  position: relative;
  padding: 90px 42px;
  display: grid;
  grid: auto / repeat(1, 1fr);
  grid-gap: 20px;
  background: url('/assets/backgrounds/whitepencilsbg.jpg') #fafafa no-repeat;
  background-size: cover;
}

.HomeSection__Main {
  position: relative;
  margin: 0 auto;
  text-align: center;
  padding: 120px 0;
  border: 3px solid #fff;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
}

.HomeSection__Main img {
  width: 120px;
  height: 120px;
  margin-bottom: 20px;
}

.HomeSection__Main .Home__Slogan {
  display: block;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.HomeSection__Main .Home__Slogan:last-child {
  margin-bottom: 0;
}

.HomeSectionActivitiesLayer {
  background: #fff;
}

@media (min-width: 576px) {
  .HomeLayout .HomeSection {
    min-height: calc(100vh - 100px);
    padding: 90px calc(5% + 12px);
  }
}

@media (min-width: 992px) {
  .HomeLayout .HomeSection {
    padding: 90px calc(7% + 12px);
    grid: auto / repeat(2, 1fr);
  }

  .HomeLayout .HomeSection .HomeSection__Main {
    background: rgba(255, 255, 255, 0.3);
    height: 500px;
  }
}

@media (min-width: 1200px) {
  .HomeLayout .HomeSection {
    padding: 90px calc(10% + 12px);
  }
}
