.Navbar {
  transition: background 0.3s ease-in-out;
}

.Navbar .Navbar__Toolbar {
  margin: 0 3%;
  padding: 0 12px;
  position: initial;
  position: unset;
  z-index: 100000;
}

.Navbar__Col:last-child {
  margin-left: auto;
}

.Navbar__Logo {
  height: 42px;
  width: auto;
  overflow: hidden;
}

.Navbar__Logo a {
  display: flex;
  height: 100%;
  text-decoration: none;
}

.Navbar__Logo .Navbar__Slogan {
  display: none;
  margin: 13px 0 auto;
  line-height: 100%;
  text-transform: uppercase;
}

.Navbar__Logo img {
  width: auto;
  height: 100%;
  object-fit: contain;
  margin-right: 10px;
}

.Navbar__Menu__List {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

.Navbar__Menu__List__Item {
  display: inline-block;
}

.Navbar__Menu__List__Item a {
  display: block;
  margin-left: 5px;
  border-bottom: 5px solid #ffcfbd;
  padding: 15px 20px;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  transition: border-bottom 0.3s ease-in-out, background 0.3s ease-in-out;
}

.Navbar__Menu__List__Item a:hover,
.Navbar__Menu__List__Item a:focus {
  border-bottom: 5px solid #ff9d8d;
  background: rgba(255, 255, 255, 0.2);
}

.Navbar__Fade {
  background: transparent;
  height: 0;
  width: 0;
  position: absolute;
  transition: background 0.2s ease-in-out, height 0.2s ease-in-out;
}

@media (min-width: 576px) {
  .Navbar .Navbar__Toolbar {
    margin: 0 5%;
  }
}

@media (max-width: 992px) {
  .Navbar--opened .Navbar__Fade {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background: #ffe1d1;
    overflow: none;
    z-index: 100;
  }

  .Navbar--opened .Navbar__Menu__List {
    display: block;
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    padding: 50px 20px;
    height: calc(100vh - 80px);
    overflow: auto;
  }

  .Navbar--opened .Navbar__Menu__List .Navbar__Menu__List__Item {
    display: block;
    text-align: center;
    margin: 5px auto;
  }

  .Navbar--opened .Navbar__Menu__List .Navbar__Menu__List__Item a {
    width: 60%;
    margin: 0 auto;
    display: block;
    border-bottom: 2px dotted #ff9d8d;
  }

  .Navbar--opened .Navbar__Menu__List .Navbar__Menu__List__Item:last-child a {
    border-bottom: 0;
  }
}

@media (min-width: 992px) {
  .Navbar__Logo .Navbar__Slogan {
    display: block;
  }

  .Navbar__Fade {
    display: none;
  }

  .Navbar .Navbar__Toolbar {
    margin: 0 7%;
  }

  .Navbar__Col:last-child {
    margin-left: auto;
    margin-top: auto;
  }

  .Navbar__Menu__Icon {
    display: none;
  }

  .Navbar__Menu__List {
    display: block;
  }
}

@media (min-width: 1200px) {
  .Navbar .Navbar__Toolbar {
    margin: 0 10%;
  }
}
