.Footer {
  width: 100%;
  height: 100px;
  margin-top: 30px;
  background: #af5a50;
  border-top: 2px solid #df8a80;
  color: #fafafa;
  display: grid;
  grid: auto / repeat(3, 1fr);
  padding: 20px;
}

.Footer__Col {
  flex-grow: 1;
  border-right: 2px dotted #df9a90;
}

.Footer__Col:last-child {
  border-right: 0;
}
